.file_display {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    &.folder {
        &:hover {
            cursor: pointer;
        }
    }
    &:nth-child(odd) {
        background: #efefef;
    }
    .file_date {
        font-style: italic;
    }
}
